/*=============== Large(LG) Device ===============*/
@media (min-width: 992px) and (max-width: 1199px) {
    .header-bottom-list li > a {
        padding: 15px;
    }
    .right-sider-banner {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .single-megamenu ul li a,
    .header-bottom-list > li > ul.ht-dropdown.megamenu li a {
        font-size: 13px;
    }
    .right-sider-banner .single-banner {
        -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
        margin-top: 30px;
        margin-bottom: 0!important;
        padding: 0 15px;
    }
    .vertical-menu-list > li a {
        line-height: 30px;
        padding: 6px 20px;
    }
    .right-sider .single-banner::before {
        left: 15px;
        right: 15px;
    }
    .vertical-menu-list > li ul.first-megamenu {
        width: 642px;
    }
    .main-product-tab-area .single-product .pro-content {
        overflow: initial;
    }
    .main-product-tab-area .single-product .pro-content {
        padding: 41px 0;
    }
    .hot-deal-active .pro-content {
        padding: 42px 0;
    }
    .hot-deal-active .pro-actions {
        top: 67px;
    }
    .hot-deal-active .actions-primary a {
        font-size: 11px;
        width: 100px;
    }
    .main-page-banner .single-banner::before {
        left: 15px;
        right: 15px;
    }
    .single-footer.style-change {
        padding-left: 20px;
    }
    .header-bottom-list li > a {
        font-size: 14px;
    }
    .header-bottom-two .header-bottom-list li > a {
        padding: 19px 13px;
    }
    .multi-banner-style-two .single-banner.mb-30 {
        margin-bottom: 24px;
    }
    .header-bottom-three .header-bottom-list > li > a {
        font-size: 14px;
        padding: 20px 10px;
    }
    .out-products .tabs-area {
        margin-left: 0;
    }
    .hot-deal-three-active .single-product .pro-content {
        padding: 0;
    }

    .cat-search-home-4 .bootstrap-select {
        display: none;
    }
    .categorie-search-box.cat-search-home-4 input {
        padding: 0 60px 0 20px;
    }
    .single-blog .sidebar-title {
        font-size: 16px;
    }
    .sidebar-lg-title {
        font-size: 32px;
    }
    .popup_wrapper {
        display: none;
    }
    .second-hot-deal-active .single-product .countdown .count {
        display: block;
    }
    .second-hot-deal-active .single-product .countdown .count p,
    .second-hot-deal-active .single-product .countdown .count span {
        border-radius: 0;
        padding: 0 7px;
    }
    /*== media query margin ==*/
    .mb-lg-30 {
        margin-bottom: 30px;
    }
}

/*=============== Medium (md) Device ===============*/
@media (min-width: 768px) and (max-width: 991px) {
    .right-sider-banner {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ebkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .right-sider-banner .single-banner {
        -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
        margin-top: 30px;
        margin-bottom: 0!important;
        padding: 0 15px;
    }
    .vertical-menu-list > li a {
        line-height: 30px;
        padding: 6px 20px;
    }
    .main-page-banner .single-banner::before {
        left: 15px;
        right: 15px;
    }
    .support-area .single-support {
        padding: 15px 30px;
    }
    .support-area .single-support:last-child {
        padding-top: 0;
    }
    .tabs-area li a {
        font-size: 11px;
    }
    .second-hot-deal-active .single-product .pro-img {
        max-width: 200px;
    }
    .hot-deal-active .countdown {
        text-align: left;
    }
    .hot-deal-active .countdown .count p {
        font-size: 11px;
    }
    .hot-deal-active .countdown .count {
        margin: 0 5px;
    }
    .hot-deal-active .single-product .pro-content {
        padding: 32px 0;
    }
    .hot-deal-active .actions-primary a {
        font-size: 11px;
        width: 100px;
    }
    .hot-deal-active .actions-secondary a {
        width: 34px;
    }
    .footer-top .row div:nth-child(4) .single-footer {
        margin-top: 40px;
    }
    .multi-banner-style-two .single-banner.mb-30 {
        margin-bottom: 18px;
    }
    .hot-deal-three-active .single-product .countdown .count p {
        width: 44px;
    }
    .new-pro-two-active .single-product,
    .featured-pro-active .owl-item,
    .more-fearured-pro-active .single-product {
        padding: 19px;
    }
    .error-text h1 {
        font-size: 150px;
        line-height: 155px;
    }
    .error-text h2 {
        font-size: 25px;
        margin-bottom: 16px;
    }
    .error-text > p {
        font-size: 21px;
    }
    .form-register label {
        font-size: 13px;
    }
    .sidebar-lg-title {
        font-size: 32px;
    }
    .vertical-menu > span {
        font-size: 17px;
    }
    /*== media query margin ==*/
    .mb-md-30 {
        margin-bottom: 30px;
    }
    .mt-md-40 {
        margin-top: 40px;
    }
}

/*=============== 0 to 991 ===============*/
@media (max-width: 991px) {
    .logo {
        text-align: center;
    }
    .header-right {
        display: block;
        text-align: left;
    }
    .vertical-menu-list {
        display: none;
    }
    .header-bottom.dark-blue-bg {
        padding: 15px 0;
    }
    .tabs-area li {
        margin-left: 13px;
    }
    .featured-products {
        margin-top: 40px;
    }
    .single-footer.style-change {
        padding-left: 0;
    }
    .header-bottom-three,
    .header-bottom-two {
        height: 55px;
    }
    .menu-style-two.mean-container .mean-bar {
        top: 55px;
    }
    .header-bottom-three .mean-container a.meanmenu-reveal {
        top: -40px;
    }
    .out-products .tabs-area {
        margin-left: 0;
    }
    .vertical-menu-two > span {
        height: 55px;
    }
    .checkbox-form h3 {
        font-size: 25px;
    }
    .your-order h3,
    .your-order-table table tr.order-total td span {
        font-size: 22px;
    }
    .mobile-menu::before {
        color: #ffffff;
        content: attr(data-menu);
        font-size: 17px;
        font-weight: 600;
        left: 0;
        position: absolute;
        text-transform: uppercase;
        top: 18px;
    }
    .form-register .form-group input {
        font-size: 13px;
    }
    .cart-main-area.wish-list .product-add-to-cart a {
        font-size: 13px;
        padding: 8px 15px;
        width: 160px;
    }
    .popup_wrapper {
        display: none;
    }
    /*== media query margin ==*/
    .mb-all-30 {
        margin-bottom: 30px;
    }
    .mb-all-40 {
        margin-bottom: 40px;
    }
    .mt-all-30 {
        margin-top: 30px;
    }
    .mt-all-40 {
        margin-top: 40px;
    }
}

/*=============== Small (sm) Device ===============*/
@media (max-width: 767px) {
    .header-top-left ul > li,
    .header-top-right ul > li {
        padding: 8px 0;
    }
    .header-top-right ul > li:last-child > a {
        padding-right: 15px;
    }
    .header-top-right ul > li:first-child > a {
        padding-left: 0;
    }
    .right-sider-banner .single-banner {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .support-area .single-support {
        padding: 15px 30px;
    }
    .hot-deal-active .owl-nav div {
        display: none;
    }
    .main-hot-deal,
    .main-product-tab-area {
        margin-left: 0;
        margin-top: 40px;
    }
    .support-area .single-support {
        -ms-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 10px 15px;
    }
    .support-desc h6 {
        font-size: 16px;
    }
    .cart-box-width {
        max-height: 250px;
        overflow-y: auto;
    }
    .multi-banner-style-two .single-banner.mb-30 {
        margin-bottom: 0;
    }
    .hot-deal-three-active .single-product .countdown .count p {
        width: 44px;
    }
    .second-hot-deal-active .single-product .countdown {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .second-hot-deal-active .single-product .countdown .count {
        display: block;
    }
    .second-hot-deal-active .single-product .countdown .count p,
    .second-hot-deal-active .single-product .countdown .count span {
        border-radius: 0;
        padding: 0 7px;
    }
    .second-hot-deal-active .single-product .countdown .count:not(:last-child) {
        margin-right: 10px;
    }
    .riview-field input,
    .riview-field textarea {
        width: 100%;
    }
    .error-text h1 {
        font-size: 120px;
        line-height: 100px;
        margin-bottom: 20px;
    }
    .error-text h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .error-text > p {
        font-size: 15px;
        line-height: 21px;
        padding: 0;
    }
    .blog-desc li {
        margin-right: 11px;
    }
    .table-content table th,
    .table-content table .product-price .amount,
    .table-content table td.product-subtotal,
    .cart-content h6 a,
    .price-content li span,
    .cart-content span.cart-price {
        font-size: 14px;
    }
    .table-content table td.product-name a,
    .product-stock-status span,
    .wc-proceed-to-checkout a,
    .cart_totals table th {
        font-size: 12px;
    }
    .cart_totals table tr.order-total th,
    .cart_totals table tr.order-total .amount {
        font-size: 18px;
    }
    .cart_totals h2 {
        font-size: 25px;
    }
    .wc-proceed-to-checkout a {
        padding: 0 20px;
    }
    .custom-title {
        font-size: 22px;
    }
    .product-header {
        font-size: 20px;
    }
    .main-thumb-desc.tabs-area > li > a {
        font-size: 15px;
        line-height: 16px;
    }
    .form-register label {
        text-align: left;
    }
    .register-title h3 {
        font-size: 20px;
    }
    .form-register legend {
        font-size: 16px;
    }
    .blog-desc h4 a {
        font-size: 15px;
    }
    .sidebar-lg-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .post-meta li {
        font-size: 13px;
        margin: 0 8px 0 0;
        padding-right: 10px;
    }
    .cart-main-area.wish-list .product-add-to-cart a {
        font-size: 11px;
        padding: 8px 12px;
        width: 115px;
    }
    .out-products .tabs-area li a,
    .customer-btn,
    .return-customer-btn {
        font-size: 13px;
    }
    .contact-area h3 {
        font-size: 20px;
    }
    .blog-desc h4 a,
    .vertical-menu > span,
    .e-title,
    .search-filter .sidebar-title,
    .sidebar-title,
    .review-title,
    .review-mini-title,
    .leave-reply {
        font-size: 16px;
    }
    .breadcrumb-area .breadcrumb {
        padding: 15px;
    }
    .product-header,
    .tems-tile {
        font-size: 16px;
    }
    .pro-price .price {
        font-size: 25px;
    }
    .second-hot-deal-active .single-product .countdown {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    /*== small device margin ==*/
    .mb-sm-40 {
        margin-bottom: 40px;
    }
    .mt-sm-40 {
        margin-top: 40px;
    }
    .mt-sm-15 {
        margin-top: 10px;
    }
    .mt-sm-30 {
        margin-top: 30px;
    }
    .mb-sm-30 {
        margin-bottom: 30px;
    }
    .mb-sm-15 {
        margin-bottom: 15px;
    }

}

/*=============== Some Specific issues ===============*/
@media (max-width: 485px) {
    #grid-view .col-6,
    #list-view .col-4,
    #list-view .col-8 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .second-hot-deal-active .single-product .pro-img {
        float: none;
        margin-right: 0;
        max-width: 100%;
        width: 100%;
    }
}

/*=============== Mobile Device ===============*/
@media (max-width: 575px) {
    .owl-nav div {
        display: none;
    }
    .news-desc {
        text-align: center;
    }
    .news-desc h3 {
        font-size: 20px;
    }
    .news-desc p,
    .footer-bottom-content p,
    .footer-nav-list li a {
        font-size: 13px;
    }
    .footer-nav-list li a {
        padding-left: 14px;
    }
    .newsletter-box .submit {
        font-size: 12px;
    }
    .brand-banner .single-brand img {
        max-width: 100%;
        margin: 0;
    }
    .support-desc h6 {
        font-size: 14px;
    }
    .second-featured-products .post-title h2,
    .latest-blog .post-title h2 {
        max-width: 100%;
    }
    .review-list li label {
        left: 0;
    }
    .main-thumb-desc.tabs-area > li > a {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
    }
    .error-text h1 {
        font-size: 85px;
        margin-bottom: 15px;
        line-height: 90px;
    }
    .error-text h2 {
        font-size: 18px;
    }
    #search-form {
        width: 100%;
    }
    .about-title {
        font-size: 19px;
    }
    .team-info h4,
    .team-link ul li a {
        font-size: 18px;
    }
    .ship-different-title h3 label {
        font-size: 15px;
        margin-right: 5px;
    }
    .your-order-table table .order-total th,
    .product-title {
        font-size: 14px;
    }
    .your-order-table table tr.order-total td span {
        font-size: 18px;
    }
    .ship-different-title input {
        margin-top: 5px;
        vertical-align: middle;
    }
    .compare-details h4 a,
    .product-description p,
    .product-description {
        font-size: 12px;
    }
    .sidebar-desc p {
        font-size: 13px;
    }
    .sidebar-lg-title,
    .post-title h2,
    .hot-deal-three .post-title h2,
    .second-featured-products.related-pro .post-title h2 {
        font-size: 16px;
    }
    .post-meta li {
        font-size: 11px;
        border-right: none;
    }
    .hot-deal-products .post-title h2,
    .second-hot-deal .post-title h2,
    .new-pro-two .post-title h2,
    .post-title h2 i {
        font-size: 18px;
    }
    .toolbar-sorter label {
        margin-bottom: 10px;
    }
    .hot-deal-three-active .single-product .countdown {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .hot-deal-three-active .single-product .countdown .count:not(:last-child) {
        margin-right: 10px;
    }
    /*== mobile device margin ==*/
    .mb-sm-40 {
        margin-bottom: 40px;
    }
    .mb-xsm-30 {
        margin-bottom: 30px;
    }
}

/*=============== Extra Small Mobile Device ===============*/
@media (max-width: 420px) {
    .header-top-left ul span {
        display: none;
    }
    .cart-box-width {
        right: -30px;
        width: 270px;
    }
    .cart-content h6 a,
    .price-content li span,
    .cart-content span.cart-price {
        font-size: 15px;
    }
    .main-product-tab-area .single-product .pro-content {
        overflow: initial;
    }
    .second-electronics-product .tabs-area li:last-child a {
        padding-top: 0;
        line-height: 15px;
    }
    .bootstrap-select {
        display: none;
    }
    .categorie-search-box input {
        padding: 0 60px 0 20px;
    }
    .header-helpline {
        font-size: 14px;
    }
    .brand-banner .single-brand img {
        margin: 0 auto;
    }
    .news-desc p,
    .footer-bottom-content p {
        font-size: 11px;
    }
    .footer-nav-list li a {
        font-size: 12px;
    }
    .error-text h1 {
        font-size: 90px;
    }
    .error-text h2 {
        font-size: 16px;
    }
    .about-team .col-6 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .buttons-cart input {
        margin-bottom: 20px;
    }
    .box-quantity .mr-40 {
        margin-right: 20px;
    }
    p,
    .pro-desc-details,
    .form-register labe,
    .term-mini-title {
        font-size: 13px;
    }
    #list-view .single-product .pro-content h4 a,
    .review-title {
        font-size: 14px;
    }
    .grid-list-top .tabs-area > li:last-child {
        left: 0;
        margin-right: 0;
    }
    .toolbar-sorter {
        width: 180px;
    }
    .sidebar-lg-title {
        font-size: 13px;
    }
    .sidebar-post-content {
        padding: 20px 0 10px;
    }
    .vertical-menu > span {
        font-size: 15px;
    }
    .vertical-menu > span {
        height: 52px;
        line-height: 55px;
    }
    #cate-mobile-toggle > ul > li > a {
        font-size: 14px;
    }
    #cate-mobile-toggle .category-sub li a {
        font-size: 13px;
    }
    .main-product-tab-area .single-product .pro-img {
        float: none;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }
    .sidebar-desc blockquote p,
    .sidebar-desc blockquote span {
        font-size: 14px;
    }
    .checkbox-form h3,
    .your-order h3,
    .custom-title {
        font-size: 20px;
    }
    .card .btn-link {
        font-size: 14px;
    }
    .coupon-accordion h3 {
        font-size: 13px;
        line-height: 20px;
    }
    .out-products .tabs-area li a {
        padding: 5px 0;
    }
    .out-products .tabs-area {
        padding: 12px 0;
    }
    /*== very xtra small mobile device margin ==*/
    .mb-xxs-30 {
        margin-bottom: 30px;
    }
}