.no-wrap {
   white-space: nowrap;
}

.justify-between {
   justify-content: space-between;
}

.gap-1 {
   gap: 1rem;
}

.flex-col {
   flex-direction: column;
}

.phone-link {
   color: white;
   text-decoration: none;
}

.phone-link:hover {
   color: white;
   text-decoration: none;
}
